importing the pandas package

In [2]:
import pandas as pd

reading the data from the csv file and loading it into a DataFrame

In [3]:
data = pd.read_csv("enrollment-by-zipcode.csv")

displaying the first five rows of the DataFrame

In [4]:
data.head()

,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,HAWAIIAN_LEGACY,ENROLLMENT
0,Fall 2012,96766,Kaua`i Community College,HAWAIIAN,73
1,Fall 2012,96814,Kapi`olani Community College,NaN,19
2,Fall 2012,96792,Leeward Community College,HAWAIIAN,504
3,Fall 2012,96822,Honolulu Community College,NaN,12
4,Fall 2012,96821,Kapi`olani Community College,NaN,43

In [5]:
data.shape

(87798, 5)

cleaning the data so that all zip codes are normalized to just the ZIP5 format (e.g. 80246) not
the ZIP5 + 4 (e.g. 80248-1234) format

In [6]:
data = data[data.SPRADDR_ZIP_PR.map(str).map(len) == 5]

In [7]:
data.head()

,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,HAWAIIAN_LEGACY,ENROLLMENT
0,Fall 2012,96766,Kaua`i Community College,HAWAIIAN,73
1,Fall 2012,96814,Kapi`olani Community College,NaN,19
2,Fall 2012,96792,Leeward Community College,HAWAIIAN,504
3,Fall 2012,96822,Honolulu Community College,NaN,12
4,Fall 2012,96821,Kapi`olani Community College,NaN,43

shape of the DataFrame after cleaning

In [8]:
data.shape

(73567, 5)

creating a column YEAR in your dataset for the year you will notice that the original column SEMESTER
is the form Fall 20nn

In [9]:
data['YEAR'] = data.SEMESTER.str.split(" ").str[-1]

In [10]:
data.head()

,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,HAWAIIAN_LEGACY,ENROLLMENT,YEAR
0,Fall 2012,96766,Kaua`i Community College,HAWAIIAN,73,2012
1,Fall 2012,96814,Kapi`olani Community College,NaN,19,2012
2,Fall 2012,96792,Leeward Community College,HAWAIIAN,504,2012
3,Fall 2012,96822,Honolulu Community College,NaN,12,2012
4,Fall 2012,96821,Kapi`olani Community College,NaN,43,2012

dropping the HAWAIIAN_LEGACY column

In [60]:
data = data.drop(['HAWAIIAN_LEGACY'],axis=1)

In [61]:
data.head()

    SEMESTER SPRADDR_ZIP_PR         IRO_INSTITUTION_DESCL  ENROLLMENT  YEAR
0  Fall 2012          96766      Kaua`i Community College          73  2012
1  Fall 2012          96814  Kapi`olani Community College          19  2012
2  Fall 2012          96792     Leeward Community College         504  2012
3  Fall 2012          96822    Honolulu Community College          12  2012
4  Fall 2012          96821  Kapi`olani Community College          43  2012

eliminating any rows of data with NaN data in it;

In [63]:
data = data.dropna()

In [64]:
data.head()

    SEMESTER SPRADDR_ZIP_PR         IRO_INSTITUTION_DESCL  ENROLLMENT  YEAR
0  Fall 2012          96766      Kaua`i Community College          73  2012
1  Fall 2012          96814  Kapi`olani Community College          19  2012
2  Fall 2012          96792     Leeward Community College         504  2012
3  Fall 2012          96822    Honolulu Community College          12  2012
4  Fall 2012          96821  Kapi`olani Community College          43  2012

In [65]:
data.shape

(73567, 5)

storing the entire dataset back into a new CSV file called hawaii_enrollments.csv.

In [67]:
data.to_csv('hawaii_enrollments.csv')