importing pandas package

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('hawaii_enrollments.csv')

In [3]:
data.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,Fall 2012,96766,Kaua`i Community College,73,2012
1,1,Fall 2012,96814,Kapi`olani Community College,19,2012
2,2,Fall 2012,96792,Leeward Community College,504,2012
3,3,Fall 2012,96822,Honolulu Community College,12,2012
4,4,Fall 2012,96821,Kapi`olani Community College,43,2012

1. How many total students were cummulatively enrolled in total from 2014 to 2019?

In [4]:
new_dataframe = data[(data.YEAR >= 2014) & (data.YEAR <= 2019)]
len(new_dataframe)

54054

2. Which campus had the most cummulatively enrolled students from 2014-2019 (and what is that value)?

In [5]:
x = new_dataframe.groupby('IRO_INSTITUTION_DESCL').count()

displaying the maximum number of cumulatively enrolled students from 2014-2019

In [15]:
maxCount = x.max()['ENROLLMENT']
maxCount

23768

displaying the campus for which the value belongs

In [ ]:
x = x.reset_index()

In [24]:
x.loc[x['Unnamed: 0'] == maxCount, 'IRO_INSTITUTION_DESCL']

8    University of Hawai`i at Manoa
Name: IRO_INSTITUTION_DESCL, dtype: object

3. Which campus has the least?

In [25]:
minCount = x.min()['ENROLLMENT']
x.loc[x['Unnamed: 0'] == minCount, 'IRO_INSTITUTION_DESCL']

3    Kaua`i Community College
Name: IRO_INSTITUTION_DESCL, dtype: object

4. Which Hawaii zip code does the largest number of students come from (across all campuses)?

In [26]:
x = new_dataframe.groupby('SPRADDR_ZIP_PR').count()

In [31]:
x.head()

,SPRADDR_ZIP_PR,Unnamed: 0,SEMESTER,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,2077,1,1,1,1,1
1,00000,7,7,7,7,7
2,00001,2,2,2,2,2
3,00180,3,3,3,3,3
4,00612,1,1,1,1,1

In [28]:
x = x.reset_index()

In [32]:
x.head()

,SPRADDR_ZIP_PR,Unnamed: 0,SEMESTER,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,2077,1,1,1,1,1
1,00000,7,7,7,7,7
2,00001,2,2,2,2,2
3,00180,3,3,3,3,3
4,00612,1,1,1,1,1

In [30]:
maxCount = x.max()['ENROLLMENT']
x.loc[x['ENROLLMENT'] == maxCount, 'SPRADDR_ZIP_PR']

5382    96706
Name: SPRADDR_ZIP_PR, dtype: object

5. Which Hawaii zip code does the largest number of students come from for the Manoa flagship campus?

In [33]:
data.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,Fall 2012,96766,Kaua`i Community College,73,2012
1,1,Fall 2012,96814,Kapi`olani Community College,19,2012
2,2,Fall 2012,96792,Leeward Community College,504,2012
3,3,Fall 2012,96822,Honolulu Community College,12,2012
4,4,Fall 2012,96821,Kapi`olani Community College,43,2012

In [42]:
new_data = data.loc[data['IRO_INSTITUTION_DESCL'].str.contains('Manoa')]
new_data = new_data.groupby('SPRADDR_ZIP_PR').count()
maxCount = new_data.max()['ENROLLMENT']

In [43]:
new_data.head()

                Unnamed: 0  SEMESTER  IRO_INSTITUTION_DESCL  ENROLLMENT  YEAR
SPRADDR_ZIP_PR
 2077                    1         1                      1           1     1
00000                    3         3                      3           3     3
00001                    2         2                      2           2     2
00180                    3         3                      3           3     3
00674                    1         1                      1           1     1

In [44]:
new_data = new_data.reset_index()

In [45]:
new_data.loc[new_data['ENROLLMENT'] == maxCount,'SPRADDR_ZIP_PR']

5047    96822
Name: SPRADDR_ZIP_PR, dtype: object