importing pandas package

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('hawaii_enrollments.csv')

In [3]:
data.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,Fall 2012,96766,Kaua`i Community College,73,2012
1,1,Fall 2012,96814,Kapi`olani Community College,19,2012
2,2,Fall 2012,96792,Leeward Community College,504,2012
3,3,Fall 2012,96822,Honolulu Community College,12,2012
4,4,Fall 2012,96821,Kapi`olani Community College,43,2012

1. How many total students were cummulatively enrolled in total from 2014 to 2019?

In [24]:
new_dataframe = data[(data.YEAR >= 2014) & (data.YEAR <= 2019)]
len(new_dataframe)

54054

2. Which campus had the most cummulatively enrolled students from 2014-2019 (and what is that value)?

In [48]:
x = new_dataframe.groupby('IRO_INSTITUTION_DESCL').count()

In [53]:
maxCount = x.max()['ENROLLMENT']
maxCount

23768

In [50]:
x = x.reset_index()

KeyError: False

In [47]:
x

,index,IRO_INSTITUTION_DESCL,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,ENROLLMENT,YEAR
0,0,Hawai`i Community College,2416,2416,2416,2416,2416
1,1,Honolulu Community College,3426,3426,3426,3426,3426
2,2,Kapi`olani Community College,5286,5286,5286,5286,5286
3,3,Kaua`i Community College,1215,1215,1215,1215,1215
4,4,Leeward Community College,3580,3580,3580,3580,3580
5,5,University of Hawai`i - West O`ahu,2896,2896,2896,2896,2896
6,6,University of Hawai`i Maui College,2150,2150,2150,2150,2150
7,7,University of Hawai`i at Hilo,6852,6852,6852,6852,6852
8,8,University of Hawai`i at Manoa,23768,23768,23768,23768,23768
9,9,Windward Community College,2465,2465,2465,2465,2465