importing pandas package

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('hawaii_enrollments.csv')

In [3]:
data.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
0,0,Fall 2012,96766,Kaua`i Community College,73,2012
1,1,Fall 2012,96814,Kapi`olani Community College,19,2012
2,2,Fall 2012,96792,Leeward Community College,504,2012
3,3,Fall 2012,96822,Honolulu Community College,12,2012
4,4,Fall 2012,96821,Kapi`olani Community College,43,2012

1. aggregate all zip codes from 2014-2019 for the Manoa campus,

In [4]:
new_dataframe = data[(data.IRO_INSTITUTION_DESCL.str.contains('Manoa'))]

In [5]:
new_dataframe.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
7,7,Fall 2012,96789,University of Hawai`i at Manoa,80,2012
8,8,Fall 2012,96712,University of Hawai`i at Manoa,37,2012
11,11,Fall 2012,96813,University of Hawai`i at Manoa,26,2012
12,12,Fall 2012,96822,University of Hawai`i at Manoa,87,2012
13,13,Fall 2012,96816,University of Hawai`i at Manoa,184,2012

In [6]:
new_dataframe = new_dataframe[(new_dataframe.YEAR >= 2014) & (new_dataframe.YEAR <= 2019)]

In [7]:
new_dataframe.head()

,Unnamed: 0,SEMESTER,SPRADDR_ZIP_PR,IRO_INSTITUTION_DESCL,ENROLLMENT,YEAR
2487,2684,Fall 2014,96817,University of Hawai`i at Manoa,53,2014
2489,2687,Fall 2014,96734,University of Hawai`i at Manoa,127,2014
2491,2689,Fall 2014,96779,University of Hawai`i at Manoa,6,2014
2495,2693,Fall 2014,96793,University of Hawai`i at Manoa,16,2014
2496,2694,Fall 2014,96791,University of Hawai`i at Manoa,15,2014

2. assign a state code to the zip codes

In [31]:
import pgeocode
nomi = pgeocode.Nominatim('us')
def getStateCode(zipCode):
    try:
        return nomi.query_postal_code(zipCode)['state_code']
    except:
        return zipCode

In [32]:
print(getStateCode('96817'))

HI

In [ ]:
new_dataframe['SPRADDR_ZIP_PR'].astype(str).apply(getStateCode)

In [ ]:
new_dataframe['State Code'] = nomi.query_postal_code(new_dataframe['SPRADDR_ZIP_PR'].astype('string'))['state_code']

In [ ]:
new_dataframe.head()

In [ ]:
nomi.query_postal_code('96817')['state_code']

In [ ]:
new_dataframe['SPRADDR_ZIP_PR'].apply(lambda x: nomi.query_postal_code(str(x)).state_code)

In [ ]:
new_dataframe['SPRADDR_ZIP_PR'] = new_dataframe['SPRADDR_ZIP_PR'].astype('string').apply(lambda x:nomi.query_postal_code(x)['state_code'])

In [20]:
df_zip = pd.read_csv("US.txt", header=None, sep='\t')

In [21]:
df_zip[ df_zip[1]==5690 ][4].item()

ValueError: can only convert an array of size 1 to a Python scalar

In [22]:
new_dataframe = new_dataframe[new_dataframe.SPRADDR_ZIP_PR.apply(lambda x: x.isnumeric())]

In [27]:
def f(k):
    temp = 0
    try:
        k = df_zip[ df_zip[1]==k][4].item() 
        temp+=1
    except:
        pass
    return k

In [28]:
try:
    new_dataframe['State Code'] = df_zip[df_zip[1] == new_dataframe['SPRADDR_ZIP_PR']][4].item()
except:
    pass
new_dataframe['STATE CODE'] = new_dataframe['SPRADDR_ZIP_PR'].apply(f)

c:\users\rajsh\appdata\local\programs\python\python38\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [ ]:
new_dataframe.['STATE CODE']

In [ ]:
new_dataframe['SPRADDR_ZIP_PR'] = new_dataframe['SPRADDR_ZIP_PR'].apply(lambda x: df_zip[df_zip[1] == x][4].tolist())